{% extends "index.html" %}

{% block title %}{{ config.title }} | Tag list {% endblock title %}

{% block header %}
{% include "parts/header.html" %}
{% endblock header %}

{% block content %}
<div class="content">
    <h1>Tags</h1>
	{% for term in terms -%}
	<div class="list-section" id="{{ term.name }}">
		<h2 class="tag-link"><a href="{{ term.permalink | safe }}">{{ term.name }}</a></h2>
		{% for page in term.pages -%}
        <div class="cell">
            <span class="post-title"><a class="tags-post" href="{{ page.permalink | safe }}">
                {{ page.title | truncate(length=30) }}
            </a> </span>
            <div class="line"></div>
            <span class="post-date">{{ page.date | date(format=config.extra.timeformat | default(value="%Y-%m-%-d")) }}</span>
        </div>
		{% endfor -%}
	</div>
	{% endfor -%}
</div>
{% endblock content %}