{% extends "index.html" %}

{% block title %}{{ config.title }} | {{ page.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block header %}
  {% include "parts/header.html" %}
{% endblock header %}

{% block content %}
<main class="content">
    <h1>{{ page.title }}</h1>
    {% if page.date %}
    <p class="meta">{{ page.date | date(format="%Y-%m-%d") }}</p>
    {% endif %}
    <div class="inner">
      {{ page.content | safe }}
    </div>
    <hr>
    <section class="meta">
      {% if page.taxonomies.tags %}
        {% for tag in page.taxonomies.tags %}
          #<a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </section>
</main>
{% endblock content %}