{% extends "index.html" %}

{% block title %}{{ config.title }} | {{ page.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block header %}
  {% include "parts/header.html" %}
{% endblock header %}

{% block content %}
<main class="content">
    <h1>{{ page.title }}</h1>
    {% if page.date %}
    <p class="meta">{{ page.date | date(format="%Y-%m-%d") }}</p>
    {% endif %}
    <div class="inner">
      {{ page.content | safe }}
    </div>
    
    <div class="tags">
      {% if page.taxonomies.tags %}
        {% for tag in page.taxonomies.tags %}
          <span class="tag"><a href="/tags/{{ tag | slugify }}">{{ tag }}</a></span>
        {% endfor %}
      {% endif %}
    </div>
  <hr>
    <div class="pagination">
      {% if page.higher -%}
      <a href="{{ page.higher.permalink | safe }}" class="left-arrow">&#x219C; {{ page.higher.title | safe }}</a>
      {%- endif %}
      
      {% if page.lower -%}
      <a href="{{ page.lower.permalink | safe }}" class="right-arrow">{{ page.lower.title | safe }} &#x219D;</a>
      {%- endif %}
    </div>

</main>
{% endblock content %}